<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Line Chart Test</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script language="JavaScript">
  function displayLineChart() {
    var temp_data = {
        labels : [{% for item in labels %}
             "{{item}}",
            {% endfor %}],
        datasets: [
            {
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(0, 100, 0, 1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                data: [{% for item in temps %}
                  "{{item}}",
                {% endfor %}],
                pointHighlightStroke: "rgba(220,220,220,1)"
            },
        ]
    };
    var humid_data = {
        labels : [{% for item in labels %}
             "{{item}}",
            {% endfor %}],
        datasets: [
            {
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(0, 100, 0, 1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                data: [{% for item in humids %}
                  "{{item}}",
                {% endfor %}],
                pointHighlightStroke: "rgba(220,220,220,1)"
            },
        ]
    };
    var ctx = document.getElementById("lineChart").getContext("2d");
    var ctx2 = document.getElementById("lineChart2").getContext("2d");
    var options = { };
    var lineChart = new Chart(ctx).Line(temp_data, options);
    var lineChart2 = new Chart(ctx2).Line(humid_data, options);
  }
</script>
</head>
<body onload="displayLineChart();">
  <h3>Temperature:</h3>
  <div class="box">
    <canvas id="lineChart" height="250" width="1000"></canvas>
  </div>
  <h3>Humidity:</h3>
  <div class="box">
    <canvas id="lineChart2" height="250" width="1000"></canvas>
  </div>
</body>
</html>

